html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title oio.radio
        link(href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="style.styl")
        link(rel="icon" type="image/png" href="ass/favicon.png")

        //- og tags
        meta(property="og:url"                content="https://oio.radio")
        meta(property="og:type"               content="website")
        meta(property="og:title"              content="oio.radio")
        meta(property="og:description"        content="emergency broadcast service")
        meta(property="og:image"              content="https://oio.radio/og1.png")
    body
        .channel

        //- ON
        .all#on
            h1 
                a(href="https://oio.studio" target="_blank") ò ī ø 
            p emergency broadcasting channel            
            audio(autoplay controls preload="none" type="audio/mp3")                                
            pre now streaming: matlo waves

        //- OFF
        .all#off            
            p all transmissions are off
            pre come back tomorrow
        
        footer
            | an 
            a(href="https://oio.studio" target="_blank") oio.studio
            |  experiment by 
            a(href="https://matlo.me" target="_blank") matlo
        
        script(src="script.js" type="module")