<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title oio.radio
        link(href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="style.styl")

        //- og tags
        meta(property="og:url"                content="https://oio.radio")
        meta(property="og:type"               content="website")
        meta(property="og:title"              content="oio.radio")
        meta(property="og:description"        content="emergency broadcasting service")
        meta(property="og:image"              content="https://oio.radio/og.png")
    body
        .channel
        .all
            h1 
                a(href="https://oio.studio" target="_blank") ò ī ø 
            p emergency broadcasting channel            
            audio(autoplay controls preload="none" src="https://stream.oio.radio/stream" type="audio/mp3")                                
        script(src="script.js")