body
    background url("./ass/static.gif") no-repeat center center fixed;
    background-size cover

.channel
    position fixed
    top 0
    left 0
    width 100vw
    height 100vh
    background url("./ass/static.gif") no-repeat center center fixed;
    background-size cover


.all 
    position absolute
    opacity 0
    top 50%
    left 50%
    transform translate(-50%, -50%)
    text-align center
    transition opacity 0.3s

p,h1,a  
    font-family 'VT323', monospace
    color white
    text-decoration none
p    
    font-size 24px
    margin 10px 0 20px 0

pre
    color white

h1, a
    font-weight: normal
    font-size 72px
    margin-bottom 10px

audio             
    width 200px
    outline none
            
#gif-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #000;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}